<% if (theme.duoshuo && theme.duoshuo_count && post.comments){ %>
<span>
    <a href="<%- url_for(post.path) %>#comments" class="ds-thread-count" data-thread-key="<%- post.slug %>" data-count-type="comments"></a>
</span>
<% }%>
