<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            owner: '<%- theme.gitment_owner %>',
            repo: '<%- theme.gitment_repo %>',
            oauth: {
                client_id: '<%- theme.client_id %>',
                client_secret: '<%- theme.client_secret %>',
            },
        })
        gitment.render('comments')
    </script>
</section>
<% } %>
