<% if (theme.uyan_uid){ %>
<section class="comments" id="comments">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%- theme.uyan_uid %>"></script>
    <!-- UY END -->
    <noscript>Please enable JavaScript to view the comments powered by 东方星痕.</a></noscript>
</section>
<% } %>
