<% if(theme.show_last_updated){ %>
<span class="post-time">
    最后更新时间：<time datetime="<%- date_xml(post.updated) %>" itemprop="dateUpdated"><%- post.updated.format('YYYY年M月D日 H:mm') %></time>
</span><br>
<%} %>
