<ul class="post-list">
  <% page.posts.each(function(post){ %>
    <li class="post-list-item">
        <%- partial('_partial/index-item', {
            post: post, 
            index: true
        }) %>
    </li>
  <% }) %>
</ul>
<% if (page.total > 1){ %>
<nav id="page-nav">
    <div class="inner">
    <%- paginator({
        prev_text: '上一页',
        next_text: '下一页'
    }) %>
    </div>
</nav>
<% } %>