<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-circle-light"><span class="icon icon-lg icon-chevron-up"></span></a>
<% if(theme.share){ %>
<%- partial('post/share', {className: 'global-share'}) %>
<% } %>