<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>
<% if(theme.share){ %>
<script>
var BLOG_SHARE = {
    title: "<%-(page.title || config.title) %>",
    pic: "<%=theme.avatar %>",
    summary: document.getElementsByName('summary')[0].content,
    url: "<%=url %>"
};
</script>
<%- partial('post/share', {className: 'global-share'}) %>
<% } %>