<span id="cnzz_stat_icon_1255152447" style="display:none;">
    <a href="http://www.cnzz.com/stat/website.php?web_id=1255152447" target="_blank" title="站长统计">
        <img border="0" hspace="0" vspace="0" src="http://icon.cnzz.com/img/pic.gif">
    </a>
</span>