<header class="top-header" id="header">
    <div class="flex-row">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light on" id="menu-toggle">
          <i class="icon icon-lg icon-navicon"></i>
        </a>
        <div class="flex-col header-title ellipsis"><%=page.title || config.title %></div>
        <% if(theme.search){ %>
        <div class="search-wrap" id="search-wrap">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="back">
                <i class="icon icon-lg icon-chevron-left"></i>
            </a>
            <input type="text" id="key" class="search-input " autocomplete="off" placeholder="输入感兴趣的关键字">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="search">
                <i class="icon icon-lg icon-search"></i>
            </a>
        </div>
        <% }%>
        <% if(theme.share){ %>
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-share">
            <i class="icon icon-lg icon-share-alt"></i>
        </a>
        <% } %>
    </div>
</header>
<header class="content-header">
  <div class="container">
    <h1 class="author"><%=page.title || config.title %></h1>
    <h5 class="subtitle">
        <% if(page.date && !page.noDate){ %>
            <%- partial('post/head-meta') %>
        <% } else { %>
        <%=config.subtitle %>
        <% }%>
    </h5>
  </div>
</header>
